@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: darkgreen;
}
.wrapper{
    height: 400px;
    width:auto;
}

.card{
    width: 12rem;
    border:50px;
    box-shadow: 10px 10px;
}

.top-suit, .bottom-suit{
    font-size: 4em;
}

.value{
    font-size:3em;
}

.bottom-suit{
    transform: rotate(180deg);
}